# ===== Mailserver base =====
OVERRIDE_HOSTNAME=mail.dfecentral.com.br
POSTMASTER_ADDRESS=postmaster@dfecentral.com.br
ENABLE_FAIL2BAN=1
ENABLE_CLAMAV=0
ENABLE_SPAMASSASSIN=0
ENABLE_POSTGREY=0
PERMIT_DOCKER=connected-networks
ONE_DIR=1
SSL_TYPE=manual
SSL_CERT_PATH=/tmp/dms/custom-certs/fullchain.pem
SSL_KEY_PATH=/tmp/dms/custom-certs/privkey.pem

# ===== Relay de saida =====
# A Oracle bloqueia a porta 25 de saida por padrao.
# Configure um relay SMTP para o envio externo das mensagens.
# Exemplo OCI Email Delivery:
# POSTFIX_RELAYHOST=smtp.email.<sua-regiao>.oci.oraclecloud.com:587
# POSTFIX_RELAYHOST_USERNAME="seu_usuario_relay"
# POSTFIX_RELAYHOST_PASSWORD="sua_senha_relay"

# ===== Ajustes opcionais =====
POSTFIX_MESSAGE_SIZE_LIMIT=52428800
DMS_DEBUG=0
